<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pwms.dao.UserAnswerResultMapper" >
  <resultMap id="BaseResultMap" type="com.pwms.pojo.UserAnswerResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="user_answer" property="userAnswer" jdbcType="VARCHAR" />
    <result column="right_flag" property="rightFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, question_id, user_answer, right_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_answer_result
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectByQuestionIdAndUserId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_answer_result
    where question_id = #{0,jdbcType=INTEGER} and user_id = #{0,jdbcType=INTEGER} 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_answer_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pwms.pojo.UserAnswerResult" >
    insert into user_answer_result (id, user_id, question_id, 
      user_answer, right_flag)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, 
      #{userAnswer,jdbcType=VARCHAR}, #{rightFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pwms.pojo.UserAnswerResult" >
    insert into user_answer_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="userAnswer != null" >
        user_answer,
      </if>
      <if test="rightFlag != null" >
        right_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="userAnswer != null" >
        #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="rightFlag != null" >
        #{rightFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pwms.pojo.UserAnswerResult" >
    update user_answer_result
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="userAnswer != null" >
        user_answer = #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="rightFlag != null" >
        right_flag = #{rightFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pwms.pojo.UserAnswerResult" >
    update user_answer_result
    set user_id = #{userId,jdbcType=INTEGER},
      question_id = #{questionId,jdbcType=INTEGER},
      user_answer = #{userAnswer,jdbcType=VARCHAR},
      right_flag = #{rightFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>